# Build a cuisine recommender

In [1]:
%pip install skl2onnx
import pandas as pd

WARNING: You are using pip version 20.2.3; however, version 22.0.2 is available.
You should consider upgrading via the 'C:\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: skl2onnx in c:\users\julia\appdata\roaming\python\python39\site-packages (1.10.4)
Requirement already satisfied: onnxconverter-common>=1.7.0 in c:\users\julia\appdata\roaming\python\python39\site-packages (from skl2onnx) (1.9.0)
Requirement already satisfied: scipy>=1.0 in c:\users\julia\appdata\roaming\python\python39\site-packages (from skl2onnx) (1.7.3)
Requirement already satisfied: scikit-learn>=0.19 in c:\users\julia\appdata\roaming\python\python39\site-packages (from skl2onnx) (1.0.2)
Requirement already satisfied: numpy>=1.15 in c:\python39\lib\site-packages (from skl2onnx) (1.22.1)
Requirement already satisfied: protobuf in c:\python39\lib\site-packages (from skl2onnx) (3.19.4)
Requirement already satisfied: onnx>=1.2.1 in c:\python39\lib\site-packages (from skl2onnx) (1.10.2)
Requirement already satisfied: joblib>=0.11 in c:\users\julia\appdata\roaming\python\python39\site-packages (from scikit-learn>=0.19->skl2onnx) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\julia\appdata\roaming\python\python39\site-packages (from scikit-learn>=0.19->skl2onnx) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.2.1 in c:\users\julia\appdata\roaming\python\python39\site-packages (from onnx>=1.2.1->skl2onnx) (4.0.1)
Requirement already satisfied: six in c:\users\julia\appdata\roaming\python\python39\site-packages (from onnx>=1.2.1->skl2onnx) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
data = pd.read_csv('../data/cleaned_cuisines.csv')
data.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [3]:
X = data.iloc[:,2:]
X.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
y = data[['cuisine']]
y.head()

  cuisine
0  indian
1  indian
2  indian
3  indian
4  indian

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix,classification_report

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)
model = SVC(C=10, kernel="linear",probability=True,random_state=0)
model.fit(X_train,y_train.values.ravel())

SVC(C=10, kernel='linear', probability=True, random_state=0)

In [8]:
prediction = model.predict(X_test)
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

     chinese       0.73      0.75      0.74       256
      indian       0.89      0.90      0.90       250
    japanese       0.80      0.78      0.79       219
      korean       0.87      0.74      0.80       246
        thai       0.75      0.85      0.80       228

    accuracy                           0.80      1199
   macro avg       0.81      0.80      0.80      1199
weighted avg       0.81      0.80      0.80      1199

In [9]:
from skl2onnx import convert_sklearn
from skl2onnx.common.data_types import FloatTensorType

# dataset has 380 ingredients listed and you need to make sure you note that in the proper float Tensor Number type
initial_type = [('float_input', FloatTensorType([None, 380]))]
# nocl - means don't include class info to reduce model size
# zipmap - remove so it doesn't make a list of dictionaries
options = {id(model): {'nocl': True, 'zipmap': False}}
onx = convert_sklearn(model, initial_types=initial_type, options=options)
with open("./model.onnx", "wb") as f:
    f.write(onx.SerializeToString())

# can't run b/c http-server error